@CHARSET "UTF-8";

#result {
  position: relative;
  float: centre;
  color: Blue;
}

#button {
    display: block; width: 150px; height: 30px;
    padding: 40px 0 0 0; margin: 0 auto;
    float: right;
    color: Green;
    font-size: 20px;
}

.hr {
     color: #f00;
     background: #f00;
     width: 75%;
     height: 5px;
}
.hrline {
     color: Grey;
     background: Grey;
     width: 100%;
     height: 5px;
}